<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Telco - Configure Page</title>
<link rel="stylesheet" type="text/css" href="../css/style.css" th:href="@{/css/style.css}"></link>
</head>

<body>
	<div class="page-title">
		<h1>Telco Configure Page</h1>
	</div>
	
	<div class="page-content">
		<div class="username-box" th:if="${session.user != null}">
			<div style="margin: 2px 5px;">
				<span style="font-size: 1.2em;" th:text="${session.user.username}"></span><br>
				<a th:href="@{/Logout}">Logout</a>
			</div>
		</div>
		<h2>Configure the <span th:text="${package.name} + ' [ID: ' + ${package.id} + ']'"></span> package</h2>
		<h3>Select the additional optional products and the validity you want.</h3>
		<p>Whatever you choose, you will not be disappointed.</p>
		
		<div th:if="${products == null}">
			<h4>There are no optional products available for this package.</h4>
		</div>
		
		<div th:if="${products != null}">
			<form th:action="@{/GoToBuy}" method="GET">
			
				<div class="config-div">
					<p><b>Validity period</b></p>
					<table style="margin: auto; text-align: left;">
						<tr th:each="vf : ${validityfees}">
							<td><input type="radio" name="validityfeeId" th:value="${vf.id}"></td>
							<td><label th:text="${vf.months} + ' at ' + ${vf.monthlyfee} + ' EUR per month'"></label></td>
						</tr>
					</table>
				</div>
				
				<div th:if="${products != null}" class="config-div">
					<p><b>Optional products</b></p>
					<table style="margin: auto; text-align: left;">
						<tr th:each="p : ${products}">
							<td><input type="checkbox" name="productId" th:value="${p.id}"></td>
							<td><label th:text="${p.name} + ' at ' + ${p.monthlyfee} + ' EUR per month'"></label></td>
						</tr>
					</table>
				</div>
				
				<div class="config-div">
					<p><b>Starting date</b></p>
					<label>Select the starting date for this package:</label> 
					<input type="date" name="startdate" value="2022-08-18" min="2022-06-01">
				</div>
				
				<p>
					<input type="hidden" name="packageId" th:value="${package.id}">
					<input type="submit" value="Confirm" class="submit-btn">
				</p>
			</form>
		</div>
	</div>
</body>
</html>
