<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Telco - Employee Home Page</title>
<link rel="stylesheet" type="text/css" href="../css/style.css" th:href="@{/css/style.css}"></link>
</head>

<body>
	<div class="page-title">
		<h1>Telco Employee Home Page</h1>
	</div>
	
	<div class="page-content">
		<div class="username-box" th:if="${session.user != null}">
			<div style="margin: 2px 5px;">
				<span style="font-size: 1.2em;" th:text="${session.user.username}"></span><br>
				<a th:href="@{/Logout}">Logout</a>
			</div>
		</div>
		<h2>Welcome!</h2>
	</div>
</body>
</html>
