<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Telco - Employee Home Page</title>
<link rel="stylesheet" type="text/css" href="../css/style.css" th:href="@{/css/style.css}"></link>
</head>

<body>
	<div class="page-title">
		<h1>Telco Employee Home Page</h1>
	</div>
	
	<div class="page-content">
		<div class="username-box" th:if="${session.employee != null}">
			<div style="margin: 2px 5px;">
				<span style="font-size: 1.2em;" th:text="${session.employee.employeename}"></span><br>
				<a th:href="@{/Logout}">Logout</a>
			</div>
		</div>
		<h2> Welcome To Employee Home Page!</h2>
		
		<div>
			<div class="package-container">
				<div class="employee-div" >
					<h3> Create Package </h3>
					<form th:action="@{/PackageCreation}" method="POST">
						<p>PackageName: <input type="text" name="packagename" required></p>

						<b>Choose 1 or more ValidityFee:</b>
						<table style="margin: 5px auto 20px auto; text-align: left;">
							<tbody>
								<tr th:each="v : ${validityfees}">
									<!-- <td th:text="${v.months}"></td> -->
									<td><input name="packagevalidity" th:value="${v.id}" type="checkbox"></td>
									<td><label th:text="${v.months} + ' months'"></label></td>
								</tr>
							</tbody>
						</table>
						
						<b>Choose 1 or more Services:</b> 
						<table style="margin: 5px auto 20px auto; text-align: left;">
							<tbody>
								<tr th:each="s : ${services}">
									<!-- <td th:text="${s.type}"></td> -->
									<td><input name="packageservice" th:value="${s.id}" type="checkbox"></td>
									<td><label th:text="${s.type}"></label></td>
								</tr>
							</tbody>
						</table>
						
						<b>Choose 0 or more Optional Products:</b> 
						<table style="margin: 5px auto 20px auto; text-align: left;">
							<tbody>
								<tr th:each="p : ${products}">
									<!-- <td th:text="${p.name}"></td>
									<td th:text="${p.monthlyFee}"></td> -->
									<td><input name="packageproducts" th:value="${p.id}" type="checkbox"></td>
									<td><label th:text="${p.name}"></label></td>
									<td><label th:text="' at ' + ${p.monthlyFee} + ' EUR per month'"></label></td>
								</tr>
							</tbody>
						</table>
						<input type="submit" value="PackageCreation"  class="submit-btn">
						<p th:text="${packageMsg}"></p>
					</form>
				</div>
				
				<div class="employee-div" >
					<h3> Create Optional Product </h3>
					<form th:action="@{/ProductCreation}" method="POST">
						<p>ProductName: <input type="text" name="productname" required></p>
						<p>Product-MonthlyFee: <input type="text" name="productmonthlyfee" required></p>
						<input type="submit" value="ProductCreation"  class="submit-btn">
						<p th:text="${productMsg}"></p>
					</form>
				</div>
			</div>
		</div>

		<div class="employee-div">
			<a th:href="@{/GoToSalesReport}">Go to Sales Report Page</a>
		</div>
	</div>
</body>
</html>
