<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Telco - Home Page</title>
<link rel="stylesheet" type="text/css" href="../css/style.css" th:href="@{/css/style.css}"></link>
</head>

<body>
	<div class="page-title">
		<h1>Telco Home Page</h1>
	</div>
	
	<div class="page-content">
		<div class="username-box" th:if="${session.user != null}">
			<div style="margin: 2px 5px;">
				<span style="font-size: 1.2em;" th:text="${session.user.username}"></span><br>
				<a th:href="@{/Logout}">Logout</a>
			</div>
		</div>
		<h2>Welcome!</h2>
		<h3>Here you can find all the Telco packages.</h3>
		<p>Choose the one that suits you best, configure it with products and services you prefer, and enjoy the Telco experience</p>
		
		<div th:if="${packages == null}">
			<h4>There are currently no packages available. Check back later, thank you.</h4>
			<div class="package-container">
				<div class="package-div">
					<p><b><a class="no-style" href="#">Package Name Test 1</a></b></p>
					<table style="border: 1px solid black; border-radius: 10px; text-align: center; margin: auto auto;">
						<tr><th>Services</th></tr>
					  	<tr><td>S1</td></tr>
					  	<tr><td>S2</td></tr>
					</table>
					<p>Monthly fee: 19.99 Euro</p>
				</div>
				<div class="package-div">
					<p><b><a class="no-style" href="#">Package Name Test 2</a></b></p>
					<table style="border: 1px solid black; border-radius: 10px; text-align: center; margin: auto auto;">
						<tr><th>Services</th></tr>
					  	<tr><td>S3</td></tr>
					  	<tr><td>S4</td></tr>
					  	<tr><td>S5</td></tr>
					  	<tr><td>S6</td></tr>
					</table>
					<p>Monthly fee: 19.99 Euro</p>
				</div>
				<div class="package-div">
					<p><b><a class="no-style" href="#">Package Name Test 3</a></b></p>
					<table style="border: 1px solid black; border-radius: 10px; text-align: center; margin: auto auto;">
						<tr><th>Services</th></tr>
					  	<tr><td>S7</td></tr>
					  	<tr><td>S8</td></tr>
					</table>
					<p>Monthly fee: 19.99 Euro</p>
				</div>
			</div>
		</div>
		
		<div th:if="${packages != null}">
			<h4>Click on the package you want to purchase to complete the order.</h4>
			<div class="package-container">
				<div class="package-div" th:each="p : ${packages}">
					<p><b><a class="no-style" th:href="@{/GoToBuy(packageId=${p.id})}" th:text="${p.name}"></a></b></p>
					<table style="border: 1px solid black; border-radius: 10px; text-align: center; margin: auto auto;">
						<tr><th>Services</th></tr>
					  	<tr th:each="s : ${p.getServices()}"><td th:text="${s.type}"></td></tr>
					</table>
					<p>Monthly fee: <span th:text="${p.monthlyFee}"></span> Euro</p>
				</div>
			</div>
			
		</div>
	</div>
</body>
</html>
