<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Telco - Report Page</title>
<link rel="stylesheet" type="text/css" href="../css/style.css" th:href="@{/css/style.css}"></link>
</head>

<body>
	<div class="page-title">
		<h1>Telco Report Page</h1>
	</div>
	
	<div class="page-content">
		<div class="username-box" th:if="${session.employee != null}">
				<div style="margin: 2px 5px;">
					<span style="font-size: 1.2em;" th:text="${session.employee.employeename}"></span><br>
					<a th:href="@{/Logout}">Logout</a>
				</div>
			</div>
		<h2>Report for employees</h2>
		
		<div class="employee-div">
			<h3>Purchases per package</h3>
			<table style="text-align: center; margin: auto auto;" th:if="${!purchasePerPackages.empty}">
				<tr th:each="p : ${purchasePerPackages}">
					<td th:text="'PackageId: ' + ${p.getPackageid()}"></td>
					<td th:text="'Purchases: ' + ${p.getPackagepurchases()}"></td>
				</tr>
			</table>
		</div>
		
		<div class="employee-div">
			<h3>Purchases per package and validity period</h3>
			<table style="text-align: center; margin: auto auto;" th:if="${!purchasePerPackageAndValidityPeriod.empty}">
				<tr th:each="pv : ${purchasePerPackageAndValidityPeriod}">
					<td th:text="'PackageId: ' + ${pv.getPvid().getPackageid()}"></td>
					<td th:text="'Purchases: ' + ${pv.getPackagepurchases()}"></td>
					<td th:text="'ValidityfeeId: ' + ${pv.getPvid().getValidityfeeid()}"></td>
					<td th:text="'ValidityfeeMonths: ' + ${pv.getValidityfeemonths()}"></td>
				</tr>
			</table>
		</div>
		
		<div class="employee-div">
			<h3>Total sales per package</h3>
			<table style="text-align: center; margin: auto auto;" th:if="${!totalSalesPerPackage.empty}">
				<tr th:each="t : ${totalSalesPerPackage}">
					<td th:text="'PackageId: ' + ${t.getPackageid()}"></td>
					<td th:text="'Purchases with products: ' + ${t.getPackageWithProducts()}"></td>
					<td th:text="'Purchases without products: ' + ${t.getPackageWithoutProducts()}"></td>
				</tr>
			</table>
		</div>
		
		<div class="employee-div">
			<h3>Average products per package</h3>
			<table style="text-align: center; margin: auto auto;" th:if=${!averageProductsPerPackage.empty}>
				<tr th:each="ap : ${averageProductsPerPackage}">
					<td th:text="'PackageId: ' + ${ap.getPackadeid()}"></td>
					<td th:text="'Order with products: ' + ${ap.getOrderwithproduct()}"></td>
					<td th:text="'Total orders: ' + ${ap.getTotalorder()}"></td>
					<td th:text="'Average: ' + ${ap.getAverageproduct()}"></td>
				</tr>
			</table>
		</div>
			
		<div class="employee-div">
			<h3>List of Insolvent Users</h3>
			<table style="text-align: center; margin: auto auto;" th:if="${!insolventUsers.empty}">
				<tr th:each="u : ${insolventUsers}">
					<td th:text="'UserId: ' + ${u.getUserid()}"></td>
					<td th:text="'Username: ' + ${u.getUsername()}"></td>
				</tr>
			</table>
		</div>
	
		<div class="employee-div">
			<h3>List of Rejected Orders</h3>
			<table style="text-align: center; margin: auto auto;" th:if="${!rejectedOrders.empty}">
				<tr th:each="o : ${rejectedOrders}">
					<td th:text="'OrderId: ' + ${o.getId()}"></td>
					<td th:text="'MonthlyFee: ' + ${o.getMonthlyfee()}"></td>
					<td th:text="'PurchaseDate: ' + ${o.getPurchasedate()}"></td>
					<td th:text="'StartDate ' + ${o.getStartdate()}"></td>
					<td th:text="'Fails: ' + ${o.getFails()}"></td>
					<td th:text="'Username: ' + ${o.getUser().getUsername()}"></td>
				</tr>
			</table>
		</div>
	
		<div class="employee-div">
			<h3>List of All Alerts</h3>
			<table style="text-align: center; margin: auto auto;" th:if=${!totalAlerts.empty}>
				<tr th:each="a : ${totalAlerts}">
					<td th:text="'AlertId: ' + ${a.getId()}"></td>
					<td th:text="'Amount: ' + ${a.getAmount()}"></td>
					<td th:text="'LastDateTime: ' + ${a.getLastdatetime()}"></td>
					<td th:text="'Username: ' + ${a.getUser().getUsername()}"></td>
				</tr>
			</table>
		</div>
		
		<div class="employee-div">
			<h3>Best seller optional product</h3>
			<table style="text-align: center; margin: auto auto;" th:if="${!productBestSeller.empty}">
				<tr th:each="pb : ${productBestSeller}">
					<td th:text="'ProductId: ' + ${pb.getProductid()}"></td>
					<td th:text="'Sold number: ' + ${pb.getProductsales()}"></td>
				</tr>
			</table>
		</div>
		
	</div>
</body>
</html>
