<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Telco - Report Page</title>
<link rel="stylesheet" type="text/css" href="../css/style.css" th:href="@{/css/style.css}"></link>
</head>

<body>
	<div class="page-title">
		<h1>Telco Report Page</h1>
	</div>
	
	<div class="page-content">
		<div class="username-box" th:if="${session.employee != null}">
				<div style="margin: 2px 5px;">
					<span style="font-size: 1.2em;" th:text="${session.employee.employeename}"></span><br>
					<a th:href="@{/Logout}">Logout</a>
				</div>
			</div>
		<h2>Report for employees</h2>
		
		<div>
			<div class = "package-container">
				<div class = "package-div">
					<h3> List of Insolvent Users </h3>
						<table>
							<tbody>
								<tr th:each="u : ${insolventUsers}">
									<td>UserId: <span th:text="${u.id}"></span></td>
									<td th:text="'UserId: ' + ${u.id}"></td>
									<td th:text="${u.username}"></td>
								</tr>
							</tbody>
						</table>
				</div>
			</div>
		</div>
		<br>
		<div>
			<div class = "package-container">
				<div class = "package-div">
					<h3> List of Rejected Orders </h3>
						<table>
							<tbody>
								<tr th:each="o : ${rejectedOrders}">
									<td th:text="${o.id}"></td>
									<td th:text="${o.monthlyfee}"></td>
									<td th:text="${o.validityperiod}"></td>
									<td th:text="${o.purchasedate}"></td>
								</tr>
							</tbody>
						</table>
				</div>
			</div>
		</div>
		<br>
		<div>
			<div class = "package-container">
				<div class = "package-div">
					<h3> List of All Alerts </h3>
						<table>
							<tbody>
								<tr th:each="a : ${totalAlerts}">
									<td th:text="${a.id}"></td>
									<td th:text="${a.username}"></td>
									<td th:text="${a.amount}"></td>
									<td th:text="${a.lastdatetime}"></td>
								</tr>
							</tbody>
						</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
