@charset "ISO-8859-1";

.page-title {
	border: 1px solid black;
	border-radius: 15px;
	text-align: center;
}

.page-content {
	margin-top: 14px;
	padding: 10px 16px;
	border: 2px solid black;
	border-radius: 15px;
	background-color: lightsteelblue;
	text-align: center;
}

.submit-btn {
	font-size: 1.2em;
}

.username-box {
	float: right;
	text-align: center;
  	border: 2px solid white;
    border-radius: 20px;
    display: inline-block;
}
